@(controller: de.htwg.se.dotsandboxes.controller.controllerComponent.ControllerInterface)


@colSizeX = @{controller.colSize(1, 0)}
@rowSizeY = @{controller.rowSize(2)}

@dot = {<img src="@routes.Assets.versioned("images/0_Dot.png")" width="30" height="30">}
@empty = {<img src="@routes.Assets.versioned("images/2_1TakenEmpty.png")" width="70" height="40">}
@barTaken = {<img src="@routes.Assets.versioned("images/1_BarTaken.png")" width="70" height="40">}
@colTaken = {<img src="@routes.Assets.versioned("images/1_ColTaken.png")" width="3">}
@takenBlue = {<img src="@routes.Assets.versioned("images/2_TakenBlue.png")" width="100" height="100">}
@takenRed = {<img src="@routes.Assets.versioned("images/2_TakenRed.png")" width="100" height="100">}
@takenGreen = {<img src="@routes.Assets.versioned("images/2_TakenGreen.png")" width="100" height="100">}
@takenYellow = {<img src="@routes.Assets.versioned("images/2_TakenYellow.png")" width="100" height="100">}
@playerBlue = {<img src="@routes.Assets.versioned("images/3_PlayerBlue.png")">}
@playerRed = {<img src="@routes.Assets.versioned("images/3_PlayerRed.png")">}
@playerGreen = {<img src="@routes.Assets.versioned("images/3_PlayerGreen.png")">}
@playerYellow = {<img src="@routes.Assets.versioned("images/3_PlayerYellow.png")">}


@main("DotsAndBoxes") {
  <div id="header-div">

    <div class="playerTurn">
      @if(!controller.gameEnded) {

          <div class="playerTurnImg">
            @controller.currentPlayer match {
              case "Blue" => {@playerBlue}
              case "Red" => {@playerRed}
              case "Green" => {@playerGreen}
              case "Yellow" => {@playerYellow}}
            <h1>Turn</h1>
          </div>

      } else {

          <div class="playerWonImg">
            @controller.winner.substring(7) match {
              case "Blue wins!" => {@playerBlue}
              case "Red wins!" => {@playerRed}
              case "Green wins!" => {@playerGreen>}
              case "Yellow wins!" => {@playerYellow}
              case _ => {<h1>It's a draw!</h1>}}
            <h1>wins!</h1>
          </div>
      }
    </div>

    <div id="gameboard">
      @for(row <- 0 until rowSizeY) {
        @for(col <- 0 until colSizeX) {
          @dot
          @if(controller.get(1, row, col).toString.toBoolean) {
            @barTaken
          } else {
            @empty
          }
        }
        @dot

        @for(col <- 0 to colSizeX) {
          @if(controller.get(2, row, col).toString.toBoolean) {
            @colTaken
          } else {
            @empty
          }
          @if(col != colSizeX) {
            @controller.get(0, row, col).toString match {
              case "-" => {@empty}
              case "B" => {@takenBlue}
              case "R" => {@takenRed}
              case "G" => {@takenGreen}
              case "Y" => {@takenYellow}
            }
          }
        }
      }

      @for(col <- 0 until colSizeX) {
        @dot
        @if(controller.get(1, rowSizeY, col).toString.toBoolean) {
          @barTaken
        } else {
          @empty
        }      
      }
        @dot
    </div>

    <div id="scoreboard">
      @for(player <- 0 until controller.playerList.size) {
        <div class="player">
          @controller.playerList(player).playerId match {
            case "Blue" => {@playerBlue}
            case "Red" => {@playerRed}
            case "Green" => {@playerGreen}
            case "Yellow" => {@playerYellow}
          }
          <h2>@controller.playerList(player).points</h2>
        </div>
      }
    </div>

  </div>
}
